In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [51]:
df = pd.read_csv(r'C:\\Users\\Dell\\\\Downloads\\Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_5871594.csv',skiprows=4)

In [52]:
df

,AFW,Unnamed: 1,Unnamed: 2,"22 countries, stretching from the westernmost point of Africa, across the equator, and partly along the Atlantic Ocean till the Republic of Congo in the South (https://www.worldbank.org/en/region/afr/western-and-central-africa)",Africa Western and Central,Unnamed: 5
0,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN
1,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
2,AND,Europe & Central Asia,High income,NaN,Andorra,NaN
3,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
4,ARE,Middle East & North Africa,High income,NaN,United Arab Emirates,NaN
...,...,...,...,...,...,...
256,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
257,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.",NaN
258,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
259,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,NaN
260,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,NaN

In [37]:
gender_counts = df['Region'].value_counts()
bar_width = 0.9
x=range(len(gender_counts.index))


plt.bar(gender_counts.index,gender_counts.values)
plt.xlabel('Region')
plt.ylabel('Count')
plt.title('Distribution of Region')


plt.xticks(x,gender_counts.index,rotation=45)
plt.tight_layout()
plt.show()

KeyError: 'Region'

In [25]:
df.shape

(261, 6)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 6 columns):
 #   Column                                                                                                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                               --------------  -----
 0   AFW                                                                                                                                                                                                                                  261 non-null    object
 1   Unnamed: 1                                                                                                                                                                                                                           215 non-null    object
 2   Unnamed: 2                                                                                                                                                                                                                           213 non-null    object
 3   22 countries, stretching from the westernmost point of Africa, across the equator, and partly along the Atlantic Ocean till the Republic of Congo in the South (https://www.worldbank.org/en/region/afr/western-and-central-africa)  126 non-null    object
 4   Africa Western and Central                                                                                                                                                                                                           261 non-null    object
 5   Unnamed: 5                                                                                                                                                                                                                           0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 12.4+ KB

In [34]:
df.describe()

       Unnamed: 5
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [28]:
df.isnull().sum()

AFW                                                                                                                                                                                                                                      0
Unnamed: 1                                                                                                                                                                                                                              46
Unnamed: 2                                                                                                                                                                                                                              48
22 countries, stretching from the westernmost point of Africa, across the equator, and partly along the Atlantic Ocean till the Republic of Congo in the South (https://www.worldbank.org/en/region/afr/western-and-central-africa)    135
Africa Western and Central                                                                                                                                                                                                               0
Unnamed: 5                                                                                                                                                                                                                             261
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  265 non-null    object
 1   Region        217 non-null    object
 2   IncomeGroup   216 non-null    object
 3   SpecialNotes  127 non-null    object
 4   TableName     265 non-null    object
 5   Unnamed: 5    0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 12.6+ KB